.breadcrumbs {
  background: rgba(#DFDFDF, .5);
  padding: 13px 14px;

  // .breadcrumbs__list

  &__list {
    display: flex;
  }

  // .breadcrumbs__item

  &__item::after {
    content: '/';
    margin-left: -4px;
    margin-right: 4px;
  }
  &__item:last-child::after {
    content: '';
  }

  // .breadcrumbs__link

  &__link {
    font-size: 14px;
    color: $default;
  }
}