@media (max-width: 1366px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
    &__images {
      width: 100%;
    }
  }
  .map {
    margin-top: 0;
  }
}

@media (max-width: 1200px) {
  .contact-slider {
    &__img {
      height: 240px;
    }
  }
  .top {
    &__slider-title {
      font-size: 62px;
      line-height: 74px;
    }
    &__slider-img {
      height: 640px;
    }
  }
  .partners {
    &__items {
      gap: 0;
    }
  }
}
@media (max-width: 1040px) {
  .aside {
    width: 100%;
    margin-left: 0;
    order: -1;
    margin-bottom: 50px;
  }
  .blog {
    &__inner {
      flex-wrap: wrap;
    }
    &__items {
      max-width: 100%;
    }
    &__item-img {
      max-width: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .contact-slider {
    &__img {
      height: 280px;
    }
  }
  .footer {
    &__info {
      width: 380px;
    }
  }
  .works-path {
    &__item {
      width: 350px;
    }
    &__item--production {
      margin-left: 50px;
    }
    &__item--measurements {
      margin-right: 40px;
    }
  }
  .gallery {
    &__items {
      gap: 10px;
    }
    &__btn {
      margin: 0;
      padding: 6px 10px;
    }
  }
  .about {
    &__text {
      margin-left: 0;
    }
    &__content {
      padding: 40px 0;
    }
  }
}
@media (max-width: 840px) {
  .contact-slider {
    &__img {
      height: 360px;
    }
  }
  .top {
    &__inner::after {
      height: 100%;
    }
    &__slider-title {
      font-size: 44px;
      line-height: 54px;
    }
    &__slider-img {
      height: 540px;
    }
  }
  .collection {
    grid-template-columns: repeat(2, 1fr);
  }
  .works-path {
    &__item {
      width: 260px;
    }
  }
  .contact {
    .contact__social {
      padding-left: 0;
    }
    &__box,
    &__form {
      padding-left: 0;
    }
  }
}
@media (max-width: 768px) {
  .contact-slider {
    &__img {
      height: 330px;
    }
  }
  .header {
    &__btn {
      display: none;
    }
  }
  .menu {
    &__list-item {
      padding-left: 0;
      & + .menu__list-item {
        padding-right: 0; 
      }
    }
  }
  .logo {
    margin: 0;
  }
  .footer {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__info {
      width: 100%;
      margin-bottom: 50px;
    }
    &__info-text {
      max-width: 100%;
    }
    &__social {
      margin-left: auto;
    }
    &__menu {
      margin-right: auto;
      margin-left: auto;
    }
  }
  .decor {
    padding: 70px 0 55px;
  }
  .gallery {
    &__buttons {
      display: grid;
    }
    &__btn {
      margin-bottom: 10px;
    }
  }
  .about {
    &__prev {
      padding: 80px 0;
    }
  }
  .inspiration {
    &__inner-images {
      display: none;
    }
  }
  .partners {
    padding: 16px 0;
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .map {
    iframe {
      height: 370px;
    }
  }
}

@media (max-width: 650px) {
  .contact-slider {
    &__link {
      width: 100% !important;
    }
    &__img {
      width: 100%;
      height: 390px;
    }
  }
  .top {
    &__inner {
      padding-bottom: 25px;
      padding-top: 30px;
    }
    &__slider-item {
      .top__slider-img {
        display: none;
      }
    }
    &__slider-text {
      margin-bottom: 15px;
    }
  }
  .works-path {
    &__item {
      width: 100%;
    }
    &__item--measurements,
    &__item--delivery {
      padding-bottom: 38px;
      padding-top: 0;
    }
    &__item--production,
    &__item--measurements {
      margin: 0;
      &::after {
        display: none;
      }
    }
    &__item--production {
      order: 3;
    }
    
    &__items-box {
      border: none;
      &::after,
      &::before {
        display: none;
      }
    }
    &__items-box,
    &__items-box2 {
      flex-direction: column;
      align-items: center;
    }
  }
  .blog-box {
    padding-bottom: 50px;
    &__items {
      display: block;
    }
    &__img-link {
      display: block;
    }
    &__img {
      width: 100%;
    }
    &__item {
      margin-bottom: 20px;
    }
  }
  .contact {
    &__form-input {
      width: 100%;
    }
  }
}
@media (max-width: 540px) {
  .contact-slider {
    &__img {
      height: 300px;
    }
  }
  .slick-dots li {
    margin: 0 1px;
  }
  .logo {
    order: -1;
    z-index: 22;
  }
  .header {
    &__inner {
      flex-wrap: wrap;
      padding-top: 42px;
    }
    &__btn-menu {
      z-index: 22;
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
      order: -1;
      span {
        background-color: #000;
        height: 3px;
        width: 37px;
        border-radius: 4px;
        display: block;
        margin: 6px 0;
      }
    }
  }
  .menu {
    left: -15px;
    margin-right: -30px;
    padding-right: 0;
    width: 111%;
    background-color: #fff;
    position: relative;
    z-index: 21;
    text-align: center;
    transform: translateY(-350px);
    transition: all .5s;
    &--open {
      transform: translateY(30px);
    }
    &__list {
      display: block;  
    }
    &__list-item {
      padding-right: 0;
    }
    &__list-link {
      display: block;
      padding: 15px 0;
    }
    &__list-link--active::after {
      right: 50%;
      width: 100px;
      left: auto;
      transform: translateX(50%);
      bottom: 15px;
    }
  }
  .collection {
    grid-template-columns: repeat(1, 1fr);
  }
  %title-font {
    font-size: 28px;
    line-height: 36px;
  }
  .blog-box {
    &__item-title {
      font-size: 22px;
      line-height: 36px;
    }
  }
  .about {
    &__prev-title {
      font-size: 40px;
      line-height: 48px;
    }
    &__content {
      padding-top: 80px;
    }
  }
  .blog__category-title, 
  .recent-posts__title,
  .blog__tags-title,
  .blog__blockquote-author,
  .blog-one__comments-name,
  .blog-one__form-title {
    font-size: 16px;
    line-height: 23px;
  }
  .blog-one {
    &__links {
      padding: 30px 0;
    }
    &__link span {
      display: none;
    }
    &__comments-title {
      font-size: 20px;
      line-height: 31px;
    }
    &__form-input {
      width: 100%;
    }
    &__comments-item {
      flex-wrap: wrap;
    }
    &__comments-avatar {
      width: 45px;
      height: 45px;
    }
    &__comments-name,
    &__comments-date {
      margin-left: 55px;
    }
    &__comments-info {
      margin-top: -46px;
    }
    &__comments-reply {
      margin-left: 0;
    }
  }
  .inspiration {
    padding-top: 50px;
    &__item-content {
      font-size: 16px;
      line-height: 23px;
    }
    &__item-text {
      margin-right: 10px;
    }
    &__text {
      margin-bottom: 40px;
    }
  }
  .works-path {
    &__item-title {
      font-size: 16px;
      line-height: 23px;
    }
  }
  .gallery {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item:first-child {
      grid-column: 1;
      grid-row: 1;
    }
    &.gallery-page {
      .gallery__item:nth-child(8) {
        grid-column: span 1;
        grid-row: span 1;
      }
    }
    
  }
}
@media (max-width: 375px) {
  .footer {
    &__inner {
      justify-content: space-between;
    }
    &__social {
      margin-left: 0;
    }
    &__form {
      display: block;
    }
    &__form-button {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .blog-one__text blockquote {
    padding: 0 20px;
  }
}